<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="QLBanVeXe" connectionString="Data Source=DESKTOP-86N3SME\SQL_KING;Initial Catalog=QuanLyBanVeXeKhach;User ID=sa;Password=123;" providerName="System.Data.SqlClient"/>-->

		<add name="BackupsDBSa" connectionString="DESKTOP-86N3SME\SQL_KING;Initial Catalog=master;User ID=sa;Password=123;" providerName="System.Data.SqlClient" />

		<add name="BackupsDBWin" connectionString="Data Source=DESKTOP-I22SAC7\TKHANGDI;Initial Catalog=master;Integrated Security=True;" providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>