<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QuanLyBanVeXeKhachConnectionString"
            connectionString="Data Source=DESKTOP-86N3SME\SQL_KING;Initial Catalog=QuanLyBanVeXeKhach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QuanLyBanVeXeKhachConnectionString1"
            connectionString="Data Source=DESKTOP-I22SAC7\TKHANGDI;Initial Catalog=QuanLyBanVeXeKhach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QuanLyBanVeXeKhachConnectionString2"
            connectionString="Data Source=LAPTOP-Q412LBS9\SQLEXPRESS;Initial Catalog=QuanLyBanVeXeKhach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QuanLyBanVeXeKhachConnectionString3"
            connectionString="Data Source=DESKTOP-I22SAC7\TKHANGDI;Initial Catalog=QuanLyBanVeXeKhach;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QuanLyBanVeXeKhachConnectionString4"
            connectionString="Data Source=DESKTOP-86N3SME\SQL_KING;Initial Catalog=QuanLyBanVeXeKhach;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QuanLyBanVeXeKhachConnectionString5"
            connectionString="Data Source=DESKTOP-I22SAC7\TKHANGDI;Initial Catalog=QuanLyBanVeXeKhach;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QuanLyBanVeXeKhachConnectionString6"
            connectionString="Data Source=A203PC02;Initial Catalog=QuanLyBanVeXeKhach;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>