<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QuanLyBanVeXeKhachConnectionString"
            connectionString="Data Source=DESKTOP-86N3SME\SQL_KING;Initial Catalog=QuanLyBanVeXeKhach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QuanLyBanVeXeKhachConnectionString1"
            connectionString="Data Source=DESKTOP-I22SAC7\TKHANGDI;Initial Catalog=QuanLyBanVeXeKhach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>